# 🛠️ Configuração do Webhook do Google Chat
GOOGLE_CHAT_WEBHOOK=""

# Definir uma data específica para testes (YYYY-MM-DD). Deixe vazio para usar a data atual.
MOCK_DATE=

# 🛠️ Configurações do PR Checker
GITHUB_OWNER=""
GITHUB_REPO=""
GITHUB_TOKEN=""
SONAR_TOKEN=""
SONAR_OWNER=""

# 📅 URLs de Referência
VERSION_CALENDAR_URL=""
QUALITY_CRITERIA_URL=""

# 🛠️ Sonar Thresholds
SONAR_NEW_SECURITY_HOTSPOTS=0
SONAR_NEW_VIOLATIONS=0
SONAR_NEW_ACCEPTED_ISSUES=0
SONAR_NEW_COVERAGE=75
SONAR_NEW_DUPLICATED_LINES_DENSITY=0
